* {
  margin: 0;
  padding: 0;
}

body {
  margin: 4rem;
  background-color: rgb(140, 178, 216);
}

nav li {
  display: inline-block;
  list-style: none;
  margin-right: 4rem;
}

nav {
  margin-bottom: 4rem;
  font-size: 2rem;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  color: rgb(47, 196, 255);
}

a,
a:focus,
a:visited {
  color: rgb(61, 41, 34);
  outline: none;
}
